:root {
  --primaryColor: #0e6253;
  --secondaryColor: #ffc107;
  --whiteColor: #fff;
  --blackColor: #222;
  --softGreenColor: #d9f2ee;
  --darkGrayColor: #a7a7a7;
  --grayColor: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: serif, sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.sidebar-menus {
  display: flex;
  flex-direction: column;
}
.sidebar-menus a,
.sidebar-logout a {
  padding: 5% 8%;
  color: var(--whiteColor);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  transition: all 0.1s ease;
}
.sidebar-menus a i,
.sidebar-logout a {
  font-size: 20px;
}
.sidebar-menus a:hover,
.sidebar-logout a:hover {
  border-radius: 20px;

  background: var(--secondaryColor);
}
.main {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding: 2%;
  background: var(--softGreenColor);
  margin-left: 250px;
}
.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-duotone {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.fa-duotone:hover {
  color: var(--primaryColor);
  box-shadow: 0px 8px 24px rgba(102, 82, 82, 0.2);
}
.search {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  background: var(--whiteColor);
  border-radius: 20px;
}
.search input {
  width: 80%;
  height: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
}
.search-btn {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 20px;
  width: 142px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.search:hover {
  box-shadow: 0px 8px 24px rgba(102, 82, 82, 0.2);
}
.search-btn:hover {
  background: var(--primaryColor);
}
.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart,
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--whiteColor);
  font-size: 20px;
  color: var(--primaryColor);
  text-decoration: none;
  padding: 0px 10px;
  height: 40px;
  border-radius: 50%;
}
.cart:hover,
.user:hover {
  box-shadow: 0px 8px 24px rgba(102, 82, 82, 0.2);
}
.main-highlight {
  margin: 3% 0;
  padding: 2%;
  background: var(--secondaryColor);
  border-radius: 8px;
}
.main-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  font-size: 20px;
}
.main-arrow {
  font-size: 24px;
}
.bi-arrow-left-circle,
.bi-arrow-right-circle {
  cursor: pointer;
}
.bi-arrow-left-circle:hover,
.bi-arrow-right-circle:hover {
  color: var(--primaryColor);
}
.main-wrapper {
  width: 100%;
  display: flex;
  padding: 1%;
  border-radius: 8px;
  gap: 1.5rem;
  overflow-x: hidden;
}
.highlight-card {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  width: 80%;
  height: 100%;
  gap: 1rem;
  padding: 1%;
  border-radius: 8px;
  background: var(--grayColor);
  cursor: pointer;
  transition: all 0.1s ease;
}
.highlight-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}
.highlight-desc h4 {
  color: var(--primaryColor);
}
.highlight-desc p {
  color: var(--blackColor);
  font-size: 13px;
}
.highlight-card:hover {
  background: var(--whiteColor);
  box-shadow: 0px 8px 24px rgba(102, 82, 82, 0.2);
}
.main-menus {
  min-height: 100%;
  background: var(--grayColor);
  padding: 2%;
  border-radius: 8px;
}
.main-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.filter-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 100%;
  height: 100px;
  gap: 1.5rem;
}
.filter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 80px;
  height: 100%;
  background: var(--whiteColor);
  color: var(--blackColor);
  border-radius: 8px;
  border: 1px solid var(--softGreenColor);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  font-size: 30px;
  background: var(--softGreenColor);
  color: var(--primaryColor);
  border-radius: 8px;
}
.filter-card:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.filter-card:hover .filter-icon {
  background: var(--whiteColor);
}
.divider {
  margin: 1rem 0;
  height: 2px;
  width: 100%;
  background: var(--primaryColor);
  border: none;
}
.main-detail {
  margin: 1rem 0 1.5rem 0;
}
.detail-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  margin-top: 1rem;
  gap: 2%;
  border-radius: 8px;
}
.detail-card {
  min-height: 280px;
  height: 100%;
  background: var(--whiteColor);
  border-radius: 8px;
  margin: 1% 0;
  box-shadow: 0px 8px 24px rgba(102, 82, 82, 0.2);
  cursor: pointer;
}
.detail-img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
}
.detail-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3%;
  width: 100%;
}
.detail-sup {
  font-size: 12px;
  color: var(--darkGrayColor);
  letter-spacing: 0.5px;
  margin: 1% 0;
}
.price {
  color: var(--primaryColor);
}
.detial-favorites {
  font-size: 24px;
}
.detail-card:hover {
  box-shadow: 0px 8px 24px rgba(102, 82, 82, 0.2);
}
.detail-card:hover .detail-img {
  filter: opacity(1);
}
.detail-card:hover .detail-name h4 {
  color: var(--primaryColor);
}
.detail-card:hover .price {
  letter-spacing: 1px;
}
@media (max-width: 640px) {
  .sidebar {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .fa-duotone.is-active {
    text-decoration: none;
    font-size: 20px;
    background: var(--whiteColor);
    color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
  }
  .sidebar.active {
    display: block;
    z-index: 10;
  }
}
